<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="./bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="./font-awesome.css"/>
    <link rel="stylesheet" href="{stylecss}"/>
    <title>Formalizer.io</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Formalizer.io</a>
        </div>
    </div>
</nav>
<div id="app"></div>
<script src="{buildjs}"></script>
</body>
</html>