.mainPanel {
  margin: 150px auto 20px;
  max-width: 600px;
}

.textRight {
  margin-top: 6px;
  padding-right: 35px;
}

.credentialsGroup {
  padding-right: 35px;
  padding-bottom: 5px;
}

.marginTop{
  margin-top:5px;
}

.leftCol {
  float: left;
  width: 280px;
  border-right: 1px solid #bbb;
}

.rightCol {
  margin-top: 5px;
  padding-left: 340px;
  padding-right:50px;
}

.signInUpButtons{
  margin-top: 6px;
  width:100%;
}

 .footer {
   position: fixed;
   width: 100%;
   bottom: 0;
   margin-bottom: 0;
   clear:both;
 }

@media screen and(max-width: 600px){
  .leftCol{
    max-width:80%;
    border:none;
    padding: auto;
    margin-left: 15%;
  }
  .signInUpButtons{
    margin-top: 6px;
    width:100%;
  }
  .rightCol{
    margin-top: 5px;
    padding: 0 50px 0 0;
    margin-left: 15%;
  }
  .mainPanel {
    margin: 150px auto 20px;
    max-width: 330px;
  }
}
