:root {
  font-family: var(--pico-font-family);
  background-color: var(--pico-background-color);
  color: var(--pico-color);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--pico-background-color);
}

#root {
  min-height: 100vh;
}
